@mixin txt14 {
    font-size: 1.4rem;
    line-height: 2.4rem;

  }
@mixin txt16 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    @include max1000() {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
    @include max767() {
      font-size: 1.4rem;
      line-height: 2.1rem;
    }

  }
@mixin txt24 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    @include max1000() {
      font-size: 2rem;
      line-height: 3rem;
    }
    @include max767() {
      font-size: 1.5rem;
    line-height: 2.2rem;
    }
  }
@mixin txt30 {
    font-size: 3rem;
    line-height: 4.4rem;
    @include max1000() {
      font-size: 2.4rem;
      line-height: 3.7rem;
    }
    @include max767() {
      font-size: 1.9rem;
      line-height: 2.7rem;
    }
  }
@mixin txt58 {
    font-size: 5.8rem;
    line-height: 6.3rem;
    @include max1000() {
      font-size: 3.8rem;
      line-height: 4.3rem;
    }
    @include max767() {
      font-size: 2.8rem;
      line-height: 3.3rem;
    }
  }
@mixin txt80 {
    font-size: 8rem;
    line-height: 8.4rem;
  @include max1000() {
    font-size: 6rem;
    line-height: 6.4rem;
  }
  @include max767() {
    font-size: 5rem;
    line-height: 5.4rem;
  }
  }