// for smaller screens mobile view
@mixin max767{
    @media (max-width: 767px) {
        @content;
    }
}
// for ipad screen
@mixin ipadView{
    @media screen and (min-width:768px) and (max-width: 1000px) {
        @content;
    }
}
// for ipad and smaller screens
@mixin max1000{
    @media screen and (max-width: 1000px) {
        @content;
      }
}

// screen larger than 1680px
@mixin min1680{
    @media screen and (min-width: 1680px) {
        @content;
      }
}

//  mixins to check if browser supports css filter or not 
@mixin supportfilter{
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        @content;
      }
}
@mixin notsupportfilter{
     /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      @content;
  }
}

