.introContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #122f3d;
  z-index: 999;
  @include max1000{
    display: none;
  }
  .introInner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     // backgound animation
     .area{
      z-index: 1;
    }
    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      opacity: 0.3;
    }
  
    .circles li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgb(157 154 154 / 22%);
      animation: animate 25s linear infinite;
      bottom: -150px;
      opacity: 0.3;
    }
  
    .circles li:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
      background: url(/assets/images/back1.png) no-repeat center center;
      background-size: contain;
    }
  
    .circles li:nth-child(2) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
      background: url(/assets/images/back2.png) no-repeat center center;
      background-size: contain;
    }
  
    .circles li:nth-child(3) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
      background: url(/assets/images/back3.png) no-repeat center center;
      background-size: contain;
    }
  
    .circles li:nth-child(3) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
      background: url(/assets/images/back2.png) no-repeat center center;
      background-size: contain;
    }
  
    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
      }
  
      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }
    .content {
      width: 50%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .animateLogo {
        font-size: 10rem;
        overflow: hidden;
        #downLine,
        #upLine {
          width: 280px;
          height: 5px;
          background: #fff;
          z-index: 4;
        }
        #downLine {
          transform: translate(0px, -53px);
        }
        #upLine {
          transform: translate(0px, 52px);
        }
        .dotpulse {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #fff;
          z-index: 9;
        }
        .logoletters {
          display: flex;
          align-items: center;
          justify-content: center;
          span {
          }
        }
      }
    }
  }
}
