:root {
  --clr-neon: #287f9d;
}
// footer
footer {
  background: $white;
  color: $black;
  width: 100%;
  .footerInner {
    width: 100%;
    .footerLevel1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      @include max767 {
        flex-direction: column;
      }
      .footerlogoContainer {
        padding: 7.8rem 0 3rem 4.2rem;
        width: 100%;
        @include max767 {
          padding: 5.8rem 0 0rem 4.2rem;
        }

        .logoContainer {
          border-top: 2px solid $black;
          border-bottom: 2px solid $black;
          padding: 7px 0;
          width: 85px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          p {
            color: $black;

            font-weight: 400;
            font-size: 30px;
            line-height: 24px;
          }
        }
      }
      .footerMenuList {
        padding: 7.8rem 0 3rem 4.2rem;
        width: 100%;
        @include max767 {
          padding: 4.8rem 0 4rem 4.2rem;
        }
        .footernav-links {
          list-style: none;
          li {
            padding-bottom: 1rem;

            a {
              @include txt30;
              color: $black;
              transition: all 0.3s linear;
            }
            &.active a {
              color: #3f89a1;
            }
            &:hover {
              a {
                color: #3f89a1;
              }
            }
          }
          .Svgneon-button {
            padding-top: 2rem;
            width: 27px;
            //font-size: 4rem;
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            color: var(--clr-neon);
            position: relative;
            transition: all 150ms linear !important ;
            -webkit-transition: all 150ms linear !important ;
            -moz-transition: all 150ms linear !important ;
            -ms-transition: all 150ms linear !important ;
            -o-transition: all 150ms linear !important ;
          }
          .Svgneon-button:hover {
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
          }

          .Svgneon-button::before {
            pointer-events: none;
            content: "";
            position: absolute;
            background: var(--clr-neon);
            top: 43%;
            left: 0;
            width: 100%;
            height: 100%;
            transform: perspective(1em) rotateX(40deg) scale(1, 0.28);
            filter: blur(1em);
            opacity: 0;
          }

          .Svgneon-button:hover::before,
          .Svgneon-button:focus::before {
            opacity: 0.8;
          }
        }
      }
      .knowMoreContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(/assets/images/knowmoreImg.png) no-repeat center center;
        background-size: contain;
        background-position: bottom right;
        background-color: $lightthemeV1;

        @include max1000 {
          padding: 7rem 4rem;
        }
        @include max767 {
          padding: 7rem 0;
        }
        .knowMoreContent {
          max-width: 42rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          @include max1000 {
            padding: 0 2rem;
          }
          h3 {
            color: $darkthemeV1;
            @include txt30;
            @include max1000 {
              padding-bottom: 1rem;
            }
          }
          p {
            @include txt16;
            color: $black;
          }
          button {
            margin-top: 4rem;
          }
        }
      }
    }
    .footerLevel2 {
      max-width: 113rem;
      padding: 5.4rem 0px 3rem 4.4rem;
      @include max1000 {
        padding: 5rem 4.2rem;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $darkthemeV1;
        opacity: 0.3;
      }
    }
    .footerLevel3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 4.2rem;

      @include max1000 {
        flex-direction: column;
        background: $darkthemeV1;
        p {
          color: $white !important;
        }
        .verticalLine {
          background-color: $white !important;
        }
      }
      p {
        color: $black;
        font-weight: 400;
        font-size: 14px;
        line-height: 31px;
      }
      .linksContainer {
        display: flex;
        gap: 1.1rem;
        align-items: center;
        .verticalLine {
          height: 2rem;
          width: 2px;
          background-color: $black;
        }
      }
    }
  }
  .icon {
    --size: 6rem;
    --transition-duration: 500ms;
    --transition-easing: ease-out;

    width: var(--size);
    height: var(--size);

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--foreground-color);
    font-size: 2rem;
    border: 1px solid rgba(white, 0.6);
    background-color: rgba(white, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    box-shadow: 0px calc(var(--size) / 6) calc(var(--size) / 3) rgba(black, 0.1);

    transition: transform var(--transition-duration) var(--transition-easing);

    overflow: hidden;

    &::before {
      content: "";
      background: rgba(white, 0.4);
      width: 60%;
      height: 100%;
      top: 0%;
      left: -125%;
      transform: skew(45deg);
      position: absolute;
      transition: left var(--transition-duration) var(--transition-easing);
    }

    &:hover {
      transform: translateY(-20%);

      &::before {
        left: 150%;
      }
    }
  }
}
