@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


// global settings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: $white;
  font-weight: 400;
}
:root {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

$darkthemeV2: $darkthemeV2;
$white: #fff;
button,
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
html {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  @include min1680() {
    font-size: 64.5%;
  }
  // @include max1000() {
  //   font-size: 50.5%;
  // }
  // @include max767() {
  //   font-size: 44.5%;
  // }
}
#__next {
  background: transparent;
  position: relative;
}
.MaxSize {
  padding-left: 8% !important;
  padding-right: 8% !important;
  max-width: 1680px;
  @include min1680{
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
}
// default styling for page
.defaultContainer{
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 80px;
  }
}
// navbar blur effect
#layoutContainer.open {
  filter: blur(5px) brightness(1.1);
  margin-top: -91vh;
}
body.open {
  position: fixed;
}


// global components
// CustomButton Styling
.CustomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem 0;
  font-weight: bold;
  line-height: 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: $white;
  width: 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  h6 {
    @include txt16;
    z-index: 6;
    background: $darkthemeV1;
  }
  @include max1000() {
    min-height: 1.6rem;
    height: auto;
    padding: 0.8rem 0;
  }
  .btnIcon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    z-index: 2;
    transform: translateX(-20px);
    transition: all 0.3s linear;
  }
  &:hover {
    .btnIcon {
      transform: translateX(0px);
    }
  }
}
// button hover effect styling
.btnHoverEffectOutline {
  border: 0 solid;
  outline-color: $darkthemeV2;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border: none;
  box-shadow: none;
  &:hover {
    outline: 1px solid $darkthemeV2;
    outline-color: rgb(228, 71, 87, 0);
    outline-offset: 15px;
  }
}
// scroll bar of website
body {
  backdrop-filter: blur(64px);
  background-color: $darkthemeV2;
  width: 100%;
  scrollbar-color: $darkthemeV2 #232324;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $darkthemeV2;
  }
  * {
    -webkit-overflow-scrolling: touch;
  }
}









