//  nav bar
nav {
  width: 100%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  justify-content: center;
  z-index: 3;
  top: 0;
  position: sticky;
  position: -webkit-sticky;

  @media screen and (max-width: 767px) {
    display: block;
    height: 72px;
    overflow-x: hidden;
    width: 100%;
    z-index: 3;

    &.open {
      background-color: #00000087;
      height: 100vh;
      min-height: -webkit-fill-available;
    }
  }

  // mobile nav links
  .logo.mobile {
    display: none;
  }
  .mobilenavContainer {
    display: none;
    @include max767() {
      display: block;
    }
  }
  .nav-linksMobile {
    display: flex;
    list-style: none;
    width: 88%;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;

    .CustomButton {
      display: none;
      @include max767 {
        display: block;
      }
    }

    li a {
      text-transform: capitalize;
      text-decoration: none;
      margin: 0 0.7vw;
      @include txt16;
      color: $black;
    }
    li {
      position: relative;
    }
    li.active a {
      color: #3e8398;
    }
    li a:hover {
      color: #3e8398;
    }
    li a::before {
      content: "";
      display: block;
      height: 3px;
      width: 0%;
      background-color: #3f89a1;
      position: absolute;
      transition: all ease-in-out 250ms;
      margin: -3px 0 0 10%;
    }
    li a:hover::before {
      width: 80%;
    }
  }
  @include max767 {
    .nav-linksMobile {
      position: fixed;
      top: 0;
      background: #0a0a0b;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      padding: 0;
      justify-content: flex-start;
      padding-top: 25%;
      padding-left: 30%;
      text-align: left;
      align-items: flex-start;
      transition: all 0.4s ease-out;
      pointer-events: none;
      backdrop-filter: blur(16px);
      -moz-transform: translate3d(-200%, 0, 0);
      -ms-transform: translate3d(-200%, 0, 0);
      position: -webkit-sticky;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(-200%, 0, 0);
      -o-transform: translate3d(-200%, 0, 0);
      transform: translate3d(-200%, 0, 0);
      background: rgb(255 255 255 / 86%);
    }
    .nav-linksMobile.open {
      pointer-events: all;
      transform: translateX(-24%);
      -webkit-transform: translateX(-24%);
      -moz-transform: translateX(-24%);
      -ms-transform: translateX(-24%);
      -o-transform: translateX(-24%);
      li {
        opacity: 1 !important;
      }
    }
    .nav-linksMobile li {
      opacity: 0;
      padding: 2rem 0px;
    }
    li.fade {
      opacity: 1;
    }
  }
  // register custom btn
  .registerBtn {
    background-color: $darkthemeV2;
    padding: 7px 13px !important;
    border-radius: 5px;
    margin-top: 9px;
    box-shadow: 0px 0px 4px 1px #0c0c0c80;
  }
  .navInner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    position: fixed;
    width: 100%;
    height: 81px;
    top: 0;
    position: -webkit-sticky;
    @include max767 {
      height: 72px;
      z-index: 2;
    }
    /*Styling logo*/
    .logo.desktop {
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      a {
        width: 150px;
      }
      .logoContainer {

        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        padding: 7px 0;
        width: 85px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p{
        color: $black;

          font-weight: 400;
          font-size: 30px;
          line-height: 24px;
        }
      }
    }
    /*Styling Links*/
    .nav-links {
      display: flex;
      list-style: none;
      width: 88%;
      padding: 0 0.7vw;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin-bottom: 0;

      li a {
        text-transform: capitalize;
        text-decoration: none;
        margin: 0 1.1vw;
        @include txt16;
        color: $black;
        @include max1000 {
          font-size: 1.3rem;
          line-height: 2.2rem;
        }
        @include max767 {
          display: none;
        }
      }
      li {
        position: relative;
      }
      li.active a {
        color: #3f89a1;
      }
      li a:hover {
        color: #3f89a1;
      }
      li a::before {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: #3f89a1;
        position: absolute;
        transition: all ease-in-out 250ms;
        margin: -3px 0 0 10%;
      }
      li a:hover::before {
        width: 80%;
      }
    }
    /*Styling Hamburger Icon*/
    .hamburger div {
      width: 30px;
      height: 3px;
      background: $darkthemeV2;
      margin: 5px;
      transition: all 0.3s ease;
    }
    .hamburger {
      display: none;
    }

    /*Stying for small screens*/
    @include max767 {
      .logo.desktop {
        display: none;
      }
      .logo.mobile {
        display: block;
      }
      .hamburger div {
        width: 24px;
      }
      .logo.mobile {
        display: block;
        cursor: pointer;
        .logoContainer {

          border-top: 2px solid $black;
          border-bottom: 2px solid $black;
          padding: 0px 0;
          width: 49px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          p{
          color: $black;

            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .CustomButton {
        position: absolute;
        cursor: pointer;
        left: 75%;
        top: 50%;
        transform: translate(-75%, -50%);
        width: 100%;
        height: 4rem;
        line-height: 0px;
        min-height: 2.6rem;
        padding: 0.8rem 0;
        font-weight: 400;
        font-size: 1.4rem;
        @include max767 {
          display: none;
        }
      }
      .logo {
        position: absolute;
        cursor: pointer;
        left: 25%;
        top: 50%;
        transform: translate(-25%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
        width: 3.2rem;
      }
      .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
      }
    }
    /*Animating Hamburger Icon on Click*/
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
      transition: all 0.7s ease;
      width: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}
// adding sticky feature to navbar with blur background
.navContainer {
  padding: 0 0;
  position: sticky;
  top: 20px;
  z-index: 999;
  height: 81px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  width: 97%;
  margin: 0 auto;
  background: rgb(255 255 255 / 86%);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background: rgb(255 255 255 / 86%);
  }
  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background: $white;
  }

  .CustomButton {
    @include max1000 {
      max-width: 15rem !important;
    }
    h6 {
      @include txt14;
      z-index: 6;
      background: $darkthemeV1;

      @include max1000 {
        font-size: 1.2rem;
        line-height: 2.4rem;
      }
    }
  }
}
@include max767() {
  .navContainer {
    top: 0;
    overflow-x: hidden;
    width: 100%;
    background: transparent;
    height: 72px;
    backdrop-filter: blur(0px);
  }
  .navInner {
    background: rgb(255 255 255 / 86%);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
  .navContainer.open {
    height: 100vh;
  }
  nav.customnav {
    position: relative;
  }
  nav.customnav.open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
