.mainPageContainer {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  @include max767() {
    background: $darkthemeV2;
  }

  // global section styling
  .sectionStyling {
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      .txtBox {
        width: 100%;
        max-width: 580px;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        gap: 30px;
        grid-gap: 30px;
        h2 {
          @include txt58;
          color: $black;
        }
        h4 {
          @include txt24;
          color: $black;
        }
      }
      .imgBox {
        width: 100%;
      }

      button {
        color: $white;
        @include txt16;
      }
    }
  }

  // header
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 584px;
    @include max1000 {
      height: 459px;
    }
    @include max767 {
      height: 368px;
    }
    .headerInner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 5rem 0px;
      position: absolute;
      top: 0;
      left: 0;
      height: 665px;
      background: url(/assets/images/headerImg.png) no-repeat center center;
      background-size: contain;
      background-position: top right;
      display: flex;
      align-items: center;
      @include max1000() {
        padding: 10rem 0px;
        flex-direction: column;
        align-items: center;
        background-position: bottom right;
        justify-content: center;
        height: 540px;
      }
      @include max767() {
        padding: 6rem 0px;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        background-position: bottom right;
        justify-content: center;
        height: 440px;
      }
      .headerBox {
        width: 100%;
        padding-left: 8% !important;
        padding-right: 8% !important;
        max-width: 1680px;
        margin: 0 auto;
        @include min1680{
          padding-left: 6% !important;
          padding-right: 6% !important;
        }
        .content {
          max-width: 52.1rem;
          height: 301px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include max1000 {
            height: 290px;
          }
          @include max767 {
            height: 265px;
          }
          .breadCrumbs {
            @include txt16;
          }

          .title {

            p.subTitle {
              @include txt16;
            }
            h1 {
              @include txt80;
              padding-bottom: 3rem;
              display: flex;
              align-self: center;
              justify-content: flex-start;
              p{
                @include txt80;
              }
            }
          }

          p {
            font-size: 1.8rem;
            line-height: 2.8rem;
            color: $white;
          }
        }
      }
    }
  }
  // default section setting
  .section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $lightthemeV1;
    .sectionInner {
      width: 100%;
      padding: 8.8rem 0 8.8rem 0;
      @include max767{
        padding: 5.8rem 0 5.8rem 0; 
      }
      .imgBox {
        width: 100%;
        max-width: 525px;
        @include max1000 {
          max-width: 200px;
        }
      }
      .txtBox {
        max-width: 530px;
        @include max1000{
          max-width: 360px;
        }
      }
      .content {
        @include max1000 {
          &:nth-child(1) {
            padding-bottom: 8rem;
          }
        }
        @include min1680{
          &:nth-child(1) {
            padding-bottom: 8rem;
          }
        }
        @include max767 {
          gap: 3rem;
          grid-gap: 3rem;
          align-items: flex-start;
          &:nth-child(1) {
            flex-direction: column;
            padding-bottom: 8rem;
          }
          &:nth-child(2) {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
  // section1
  .section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    .section1Inner {
      width: 100%;
      padding: 8.8rem 0;
      @include max767{
        padding: 5rem 0;  
      }
      .imgBox {
        width: 100%;
        max-width: 510px;
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 1;
        @include max1000 {
          width: 100%;
          max-width: 155px;
          position: absolute;
          top: auto;
          bottom: -110px;
          right: 0;
          z-index: 0;
        }
      }
      .txtBox {
        z-index: 2;
        h2 {
          color: $black !important;
        }
        h4 {
          color: $txtDark !important;
        }
      }
    }
  }
  // section2

  // section3
  .section3 {
    background: $white;
      .txtBox {
        h2 {
          color: $black !important;
        }
        h4 {
          color: $txtDark !important;
        }
      }
  }
  // section4
  .section4 {
    background: $darkthemeV1;
    .txtBox {
      h2,
      h4 {
        color: $white !important;
      }
    }
    .CustomButton {
      h6 {
        background: $lightthemeV1;
        color: $darkthemeV1;
      }
    }
    .btnHoverEffectOutline {
      outline-color: $lightthemeV1;
      &:hover {
        outline: 1px solid $lightthemeV1;
        outline-color: rgb(228, 71, 87, 0);
      }
    }

    .imgBox {
      width: 100%;
      max-width: 555px;
    }
    .content:nth-child(1) {
      padding-bottom: 5rem;
    }
  }
}
